body{
    background-color:whitesmoke
}

header{
    text-align:right    ;
    background-color:grey;
    height:75px;
}

header a{

    font-family:'Segoe Script';
    border-top: 200pt;
    font-size: 20pt;
    color: lightgrey;
    padding:15px;
    text-decoration:none
}

header header{
    text-align:center;
    color:lightgrey;
    font-size:25pt; 
}

header img{
    float:left;
}
